body{
    font-family: sans-serif;
    margin: 0;
}

header{
    display: flex;
    min-height: 70px;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.logoytitulo{
    display: flex;
}

.logoytitulo img{
    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 15px;

}

nav a:hover{
    color: blue;

}

.principal{
    padding: 100px;
    background-color: aqua;
}

#btn-login{
    text-align: center;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }

}